<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://wp-assets.futurism.com/2013/10/sun-07.jpg');
    height: 100vh;
    background-size: cover;">
<!-- Background image -->

<!-- HeadLine -->
<h1 style="text-align:center" >Solar Weight System</h1>

<!-- Text Field -->
<div id="mydata" style="text-align:center">
<input type="number" #number='ngModel' style="text-align: center" id="myInput" placeholder="Weight On Earth" ngModel>
</div>


  

<!--<div style="width: 10cm; text-align: center; margin-left: 15cm;" class="alert alert-dark" role="alert" [hidden]="!finalAns">
    {{finalAns}} KG
  </div>-->


<!-- Button -->

<button id="Mercury" type="button" (click)="Mercury(number)">Mercury</button>
<button id="Venus" type="button"(click)="Venus(number)">Venus</button><br>
<button id="Mars" type="button"(click)="Mars(number)">Mars</button>
<button id="Jupiter" type="button"(click)="Jupiter(number)">Jupiter</button><br>
<button id="Saturn" type="button"(click)="Saturn(number)">Saturn</button>
<button id="Uranus" type="button"(click)="Uranus(number)">Uranus</button><br>
<button id="Neptune" type="button"(click)="Neptune(number)">Neptune</button>



<!--<button type="button" class="btn btn-primary btn-lg">Mercury</button>
<span onclick="newElement()" class="addBtn">Mercury</span>-->

<!-- Output -->



</div>